include bin/*
exclude bin/.gitignore
include COPYING
include README.creole
include reggata/locale/*
include reggata/resources/*
include reggata/resources/icons/*
include reggata/ui/*.ui
include share/*
include doc/*
recursive-exclude reggata *.pyc



