[Desktop Entry]
Type=Application
Name=Reggata
GenericName=Reggata
Comment=Tagging system for local files
Exec=reggata
Icon=reggata
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Application;Office;
